$basecolor: #3c5899;
$grey: grey;

body {
    width: 768px;
}
.page {
    width: 100%;
    height: 1024px;
    .interest {
        margin-left: 50px;
    }
    .cmp {
        font-weight: bold;
        font-size: 15px;
        padding-left: 15px;
        margin-bottom: 20px;
    }
    .circle {
        position: absolute;
        border-radius: 50%;
        text-align: center;
        vertical-align: middle;
        text-transform: uppercase;
        display: inline-block;
        font-size: 18px;
    }
    .circle-js {
        width: 150px;
        height: 150px;
        line-height: 45px;
        border: 4px solid $basecolor;
    }
    .circle-go {
        width: 120px;
        height: 120px;
        line-height: 120px;
        background-color: $basecolor;
        left: 570px;
        top: 1664px;
        color: white;
        z-index: 2;
    }
    .circle-veille {
        width: 100px;
        height: 100px;
        line-height: 100px;
        background-color: $grey;
        left: 515px;
        top: 1718px;
        color: white;
    }
    .loisir {
        li {
            margin-bottom: 20px;
        }
    }
    .content {
        height: 785px;
    }
    h1,
    h2 {
        color: white;
        text-transform: uppercase;
    }
    h1 {
        font-size: 25px;
        margin-bottom: 0px;
    }
    h2 {
        font-size: 15px;
        margin-top: 0px;
    }
    .col-1 {
        padding-left: 40px;
        li {
            list-style: none;
        }
        .contact {
            text-align: right;
            width: 100%;
            display: block;

            &:first-child {
                padding-top: 4px;
            }
        }
        > .box-content {
            margin-top: 30px;
        }
    }
    .col-2 {
        ul {
            padding-left: 15px;
        }
        li {
            color: $grey;
            list-style-type: none;
        }
        ul {
            margin-top: 5px;
            list-style: none;
            padding-left: 25px;
            li {
                padding-left: 1em;
                text-indent: -0.7em;
                color: $grey;
            }
            li:before {
                content: "•    ";
                color: $basecolor;
            }
        }
    }
    .contact {
        color: $grey;
        font-size: 14px;
    }
    .box-content {
        .entreprise {
            font-weight: bold;
        }
        .job {
            color: $basecolor;
            text-transform: uppercase;
        }
        span {
            display: block;
        }
        .date {
            color: $grey;
            font-style: italic;
        }
    }
    .box {
        .school {
            color: $basecolor;
            width: 100%;
            display: block;
        }
        .diplome-date {
            color: $grey;
        }
        h3 {
            text-transform: uppercase;
            color: $basecolor;
            border-bottom: 3px solid $basecolor;
            width: 100%;
        }
    }
}

.header {
    background-color: $basecolor;
    margin-top: 25px;
    text-align: center;
    margin-bottom: 10px;
    &.row {
        margin-left: 0;
        margin-right: 0;
    }
}

.footer {
    background-color: $basecolor;
    margin-top: 25px;
    text-align: center;
    &.row {
        margin-left: 0;
        margin-right: 0;
    }
    width: 100%;
    height: 90px;

    span {
        width: 92%;
        display: block;
        text-align: left;
        color: white;
        margin-left: 25px;
    }
    ul {
        li {
            display: inline;
            color: white;
            padding-right: 60px;
        }
    }
    .objectif {
        text-transform: uppercase;
        border-bottom: 3px solid white;
        margin-top: 5px;
    }
}
